html {
  text-align: center;
  font-family: Helvetica;
}

#navbar {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
}

#title {
  font-size: 70px;
}

nav {
  text-decoration: underline;
}

#process {
  font-size: 32px;
}

h2 {
  font-size: 23px;
}
p {
  font-size: 14px;
}

a {
  color: white;
}

#break {
  font-size: 23px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: centr;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

footer {
text-align: left;
background-color: dimgray;
font-size: 11px;
}
